body {
background: #EACEE4
}

/* HEADER */
.caixa {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.banner {
    width: 100%;
    box-shadow: 0 1px 5px black;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* MAIN */
main {
    width: 80%;
    margin: 0 auto;
}

.músicas{
    text-align: center;
}

.indiv{
    display: inline-block;
}

.rank {
    display: inline-block;
    font-weight: bolder;
    position: relative;
    left: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4em;
    color: #A9445C;
    text-shadow: 
    -3px -3px 0px #000000, 
    -3px 3px 0px #000000,                    
    3px -3px 0px #000000,                  
    3px 2px 0px #000000;
}

.músicas li {
    background: #0C0B0B;
    text-decoration: none;
    width: 250px;
    height: 350px;
    display: inline-block;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
    margin: 30px 0 15px 5px;
}

.título {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    line-height: 28px;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 1.8em;
    text-align: left;
    position: relative;
    left: 30px;
    margin: 3px 0 0 0;
}

.álbum-e-ano{
    font-family: "Carrois Gothic", sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: left;
    position: relative;
    left: 30px;
    margin: 0;
}

#be-the-cowboy-2018 {
    color: #DDB5B5;
}

#puberty-2-2016 {
    color: #BAAF4A;
}

#bury-me-2014 {
    color: white;
}

#laurel-hell-2022 {
    color: #842727;
}

#retired-from-sad-2015 {
    color: #2F9BA1;
}

#lush-2012 {
    color: #356C1B;
}

.músicas img {
    width: 200px;
    height: 200px;
    padding: 25px 0 0;
}

.letra {
    text-align: left;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    display: inline-block;
    width: 200px;
    height: 300px;
    padding: 30px 0px 10px 10px;
    vertical-align: top;
    margin: 24px 0 0;
    line-height: 30px;
    letter-spacing: 0.5px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #b05a6e;
    text-align: center;
}

.copyright {
    padding-top: 45px;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 20px;
    color: #EACEE4;
    font-weight: bold;
}